* {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
    box-sizing: border-box;
}

body {
    max-width: 1280px;
    margin: 0 auto;
}

.container {
    margin: 5px;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

/* Header */

.header {
    height: 66px;
    background-color: #f0f0f0;
    position: relative;

    border-radius: 3px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.header h1 {
    padding: 15px;
    letter-spacing: 5px;

    text-align: center;
    font-size: 31px;
    font-weight: bold;
    color: #8fe1e2;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000, 2px 2px 4px rgba(0, 0, 0, 0.3);
    background: linear-gradient(to bottom, #77a7f3, #8eb5f5);
}

/* Navigation */

.nav {
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #bbd1fa;
    padding: 5px;
    display: flex;
    gap: 50px;
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.nav a {
    font-size: 14px;
    margin: 0 10px;
    text-decoration: none;
}

.nav a:visited {
    color: #1568d4;
}

.nav a.selected,
.nav a:hover {
    color: #ea9135;
}

.main-content {
    display: flex;
    border-top: 1px solid #1568d4;
    margin-top: 30px;
    border-bottom: 1px solid #1568d4;
}

/* Sidebar */

.sidebar {
    width: 256px;
    margin: 0;
    background-color: #f9f9f9;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.news-item {
    font-size: 22px;
    text-align: center;
    color: rgb(167, 167, 167);
    height: 40px;
}

.news-item-header {
    background-color: #f4dab5;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expand-icon,
.drag-icon {
    font-size: large;
}

.expand-icon {
    cursor: pointer;
}

.drag-icon {
    cursor: ns-resize;
}

.news-item.selected {
    color: white;
    height: fit-content;
}

.news-item.selected .news-item-header {
    background-color: #ea9135;
}

.news-item.selected .news-item-content {
    color: #475bf7;
    font-size: 16px;
    padding: 10px 0px 10px 5px;
    text-align: left;
    display: block;
    border: 1px solid #9a9a9a;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.news-item-content {
    display: none;
}

/* Content */

.content {
    flex: 1;
}

.section {
    border: 1px solid #555555;
    height: fit-content;
    margin: 5px 5px 10px 5px;
    border-radius: 3px;
    padding-bottom: 20px;
}

.section-header {
    background: linear-gradient(to bottom, #8dbfeb, #8695e1, #8e92ed);
    padding: 10px 20px;
}

/* Process Text */

#process-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#process-text-header {
    color: white;
}

#process-text-control {
    display: flex;
    gap: 10px;
}

#process-text-control input {
    border: 1px solid #3f3f3f;
    text-indent: 3px;
    font-size: 15px;
}

#process-text-control button {
    background-color: #377fdd;
    color: white;
    width: 90px;
    border: none;
    padding: 8px 10px;
    border-radius: 15px;
    font-size: 15px;
}

#sample-text-control {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 10px;
}

#sample-text-control button {
    background-color: #377fdd;
    border-radius: 50%;
    padding: 5px;
    border: none;
    font-size: 20px;
}

#main-text {
    padding: 10px;
    font-size: 22px;
}

/* Drag and Drop */

#drag-drop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}

#drag-drop-header {
    color: white;
}

#drag-drop-control {
    display: flex;
    gap: 10px;
}

#drag-drop-control button {
    background-color: #377fdd;
    color: white;
    width: 110px;
    border: none;
    padding: 8px 10px;
    border-radius: 25px;
    font-size: 20px;
}

.custom-select-container {
    position: relative;
    display: inline-block;
}

.custom-select {
    appearance: none;
    padding: 10px 40px 10px 15px;
    border: 2px solid #475bf7;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
}

.custom-select-line {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    height: 20px;
    width: 1px;
    background-color: #000;
    pointer-events: none;
}

.custom-select-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 10px;
    pointer-events: none;
}

.drag-drop-grid {
    display: grid;
    grid-template-columns: repeat(5, 180px);
    gap: 10px;
    padding: 10px;
}

.drag-drop-item {
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.drag-drop-item .emoji {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #77a7f3, #2e3aab);
    height: 100px;
    font-size: 40px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
}

/* Footer */

.footer {
    background-color: #f4dab5;
    color: #ea9135;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 3px;
    border: 1px solid #ea9135;
    margin-top: 5px;
}

.footer a {
    color: #ea9135;
}

.footer a.selected,
.footer a:hover {
    background-color: #ea9135;
    color: #f4dab5;
}

/* Dragging */

.dragging {
    opacity: 0.5;
}
